@{
    ViewData["Title"] = "Home";
}

<div class="text-center mt-5">
    <h1 class="display-5">Welcome to Inventory Management System</h1>
    <p class="lead mt-3">Manage products, stock, and images with an API-connected MVC app.</p>

    <a href="/Auth/Login" class="btn btn-primary mt-3 px-4 py-2">Get Started</a>
</div>
